<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Партии игры</title>
</head>
<body>
<h1 th:text="'Партии для ' + ${boardGame.title}"></h1>
<ul>
    <li th:each="gameSession : ${boardGame.sessions}">
        <span th:text="${gameSession.sessionDate}"></span> -
        <span th:text="${gameSession.playersAmount}"></span> -
        <span th:text="${gameSession.winner}"></span> -
        <span th:text="${gameSession.impressions}"></span> -
        <a th:href="@{/editSession/{id}(id=${gameSession.id})}">Редактировать</a>
        <a th:href="@{/deleteSession/{sessionId}(sessionId=${gameSession.id})}">Удалить</a>
    </li>
</ul>
<h2>Добавить новую партию</h2>
<form th:action="@{/game/{id}/addSession(id=${boardGame.id})}" method="post">
<!--    <label for="bgName">Название нестольной игры:</label>-->
<!--    <input type="text" id="bgName" name="bgName">-->
    <label for="sessionDate">Дата партии:</label>
    <input type="text" id="sessionDate" name="sessionDate" required>
    <label for="playersAmount">Количество игроков:</label>
    <input type="text" id="playersAmount" name="playersAmount" required>
    <label for="winner">Победитель:</label>
    <input type="text" id="winner" name="winner" required>
    <label for="impressions">Впечатления:</label>
    <input type="text" id="impressions" name="impressions" required>
    <button type="submit">Добавить</button>
</form>
</body>
</html>