<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Основная страница</title>
</head>
<body>
<h1>Список пользователей</h1>
<ul>
    <li th:each="user : ${users}">
        <a th:href="@{/user/{name}(name=${user.name})}" th:text="${user.name}"></a>
    </li>
</ul>

<h2>Последние партии</h2>
<ul>
    <li th:each="gameSession : ${recentSessions}">
        <span th:text="${gameSession.boardGame.title}"></span>
        <span th:text="${gameSession.sessionDate}"></span> -
        <span th:text="${gameSession.sessionDate}"></span> -
        <span th:text="${gameSession.playersAmount}"></span> -
        <span th:text="${gameSession.winner}"></span> -
        <span th:text="${gameSession.impressions}"></span> -
    </li>
</ul>
</body>
</html>

