<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Регистрация</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #e8f5e9; color: #1b5e20;">
<h1 style="text-align: center; color: #2e7d32;">Регистрация</h1>
<form th:action="@{/register}" method="post" th:object="${user}"
      style="margin: 0 auto; width: 50%; padding: 20px; background-color: #c8e6c9; border-radius: 10px;">
    <label for="name">Имя пользователя:</label>
    <input type="text" id="name" th:field="*{name}" required
           style="width: 100%; margin-bottom: 10px;">
    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" required
           style="width: 100%; margin-bottom: 10px;">
    <button type="submit" style="background-color: #2e7d32; color: white;
    border: none; padding: 10px; border-radius: 5px; cursor: pointer;">
        Зарегистрироваться
    </button>
</form>
</body>
</html>


